body {
	image-rendering: -webkit-optimize-contrast;
	margin: 0;
	
}

a {
  color: inherit;
  text-decoration: none;
}

.button {
  display: inline-flex;
  align-items: center;
  color: #0072ef;
  border: 0;
  border-radius: 4px;
  transition: box-shadow .2s linear, background-color .2s linear, color .2s ease;
}

.button:hover {
  box-shadow: 0 0 10.56px .44px rgba(0, 0, 0, .34);
}

.button:before {
  display: none;
  content: '';
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.button--icon:before {
  display: block;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.intro {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
}

.intro:before {
	position: absolute;
	content: '';
	background: url(../images/background.jpg) 68% 72% no-repeat;
	background-size: 92%;
	width: 1920px;
	display: block;
	height: 800px;
	z-index: -1;
}

	@media only screen and (max-width: 1279px) {
		.intro:before {
			height: 687px;
		}
	}

		@media only screen and (max-width: 749px) {
			.intro:before {
				background-size: 45%;
				height: 100%;
				background-position-x: 53%;
				background-position-y: 0;
			}
		}

	
.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1170px;
  margin: 28px 0 0;
  
}

	@media only screen and (max-width: 1279px) {
		.header {
			margin: 28px 0 0;
		}
	}
	
.header__logo {
	width: 67.5px;
    flex: 0 0 67.5px;
    min-height: 34px;
    padding: 0 15px;
    background: url(../images/logo.png) 16px 3px no-repeat;
    background-size: 80px auto;
}

  .header__nav-toggle {
    display: none;
    position: relative;
    width: 26px;
    flex: 0 0 26px;
    height: 2px;
    background: #fff;
	background-clip: padding-box;
    transform-origin: 50% 50%;
	border: 7px transparent solid;
	border-width: 7px 0;
   }

  .header__nav-toggle:before,
  .header__nav-toggle:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: transform .2s linear;
  }

  .header__nav-toggle:before {
    transform: translateY(-7px);
  }

  .header__nav-toggle:after {
    transform: translateY(7px);
  }

  .header--nav-opened .header__nav-toggle {
    background: none;
    transform: ;
  }

  .header--nav-opened .header__nav-toggle:before {
    transform: translateY(0) rotate(45deg);
  }

  .header--nav-opened .header__nav-toggle:after {
    transform: translateY(0) rotate(-45deg);
  }

  @media only screen and (max-width: 749px) { 
    .header__nav-toggle {
      display: block;
    }
  }

  .header__nav {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    padding: 0 15px 0 19px;
  }

  @media only screen and (max-width: 749px) { 
    .header__nav {
      position: absolute;
      z-index: 100;
      top: 100%;
      left: -9999px;
      flex-direction: column;
      width: 100%;
      box-sizing: border-box;
      padding: 5px;
      opacity: 0;
      transform: translate3d(0, -20px, 0);
      transition: left 0s linear .1s, transform .3s linear, opacity .3s linear;
    }

    .header--nav-opened .header__nav {
      left: 0;
      transform: translate3d(0, 0, 0);
      opacity: 1;
      transition: left 0s linear, transform .1s linear, opacity .1s linear;
    }
  }

  @media only screen and (min-width: 1280px) { 
    .header__nav {
      padding: 0 15px 0 15px;
    }
  }

  @media only screen and (min-width: 750px) and (max-width: 1279px) { 
    .header__nav {
      padding-right: 0;
    }
  }

  .header__menu {
    display: flex;
    margin: 0;
    padding: 0 0 0 1px;
    align-items: flex-start;
  }

  @media only screen and (max-width: 749px) { 
    .header__menu {
      width: 100%;
      flex-direction: column;
      align-items: stretch;
      background: #363636;
    }
  }

    @media only screen and (max-width: 749px) { 
      .header__menu-item {
        font: 12px/44px 'Roboto', sans-serif;
        text-transform: uppercase;
        color: #FFF;
        margin: 0 0 1px;
        padding: 0 30px;
        border: 1px #1f2021 solid;
      }

        .header__submenu {
          height: 0;
          overflow: hidden; 
          margin: 0 -30px;
          padding: 0;
          background: #1f2021;
          transition: height .2s linear;
        }

          .header__submenu-item { 
            list-style: none;
            padding: 0 30px;
            border-bottom: 1px #363636 solid;
          }

          .header__submenu-item:last-child { 
            border-bottom: 0;
          }
    }

    @media only screen and (min-width: 750px) { 
      .header__menu-item {
        position: relative;
        list-style: none;
        font: 16px/1.65 'Roboto', sans-serif;
        color: #FFF;
        white-space: nowrap;
        margin: 0 15px;
      }

        .header__menu-item > a {
          position: relative;
        }

        .header__submenu {
          position: absolute;
          left: -9999px;
          z-index: 100;
          margin: 11px 0 0;
          padding: 5px;
          background: #FFF;
          border-radius: 4px;
          box-shadow: 0 0 12.48px .52px rgba(44, 44, 44, .11);
          transform: translate3d(0, -20px, 0);
          opacity: 0;
          transition: left 0s linear .1s, transform .3s linear, opacity .3s linear;
        }

        .header__menu-item:hover:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: -11px;
          left: 0;
        }

        .header__menu-item:hover > .header__submenu {
          left: 0;
          transform: translate3d(0, 0, 0);
          opacity: 1;
          transition: left 0s linear, transform .1s linear, opacity .1s linear;
        }

          .header__submenu-item {
            display: block;
            list-style: none;
            font: 14px/2.79 'Roboto', sans-serif;
            white-space: nowrap;
            padding: 0 15px;
            border-bottom: 1px #e8e9e9 solid;
          }

          .header__submenu-item:last-child {
            border: 0;
          }

            .header__submenu-item a {
              color: #003648;
            }
    }

    @media only screen and (max-width: 1279px) { 
      .header__menu-item {
        margin-left: 0;
      }
    }

    

    .header__menu--main {

    }

    .header__menu--secondary {

    }

  .header__signin {
    font: 16px/1.65 'Roboto', sans-serif;
    color: #FFF;
    margin: -1px 15px 0 0;
    padding: 1px 17px 1px 15px;
    border: 1px #FFF solid;
  }

  .header__signin:hover {
    color: #FFF;
    background-color: rgba(255, 255, 255, .4);
  }
  
  

.intro__items {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1170px;
	margin-top: 150px;
	margin-bottom: 270px;
}

	@media only screen and (max-width: 1279px) {
		.intro__items {
			width: 625px;
			margin-top: 115px;
			margin-bottom: 185px;
		}
	}
	
		@media only screen and (max-width: 749px) {
			.intro__items {
				width: 90%;
				margin-top: 85px;
				margin-bottom: 71px;
			}
		}

.intro__heading {
	font-size: 52px;
	font-family: "Ubuntu";
	color: rgb( 255, 255, 255 );
	font-weight: bold;
	line-height: 0.865;
	letter-spacing: .06em;
	text-align: center;
	margin: 0;  
}

	@media only screen and (max-width: 1279px) {
		.intro__heading {
			font-size: 36px;
			line-height: 45px;
		}
	}
	
		@media only screen and (max-width: 749px) {
			.intro__heading {
				font-size: 26px;
				line-height: 45px;
			}
		}
	
.intro__lead {
	font-size: 24px;
	font-family: "Roboto";
	color: rgb( 255, 255, 255 );
	line-height: 1.042;
	text-align: center;
	font-weight: normal;
	margin-top: 55px;
	margin-bottom: 80px;
	width: 50%;
}

	@media only screen and (max-width: 1279px) {
		.intro__lead {
			font-size: 20px;
			line-height: 25px;
			width: 80%;
		}
	}
		
		@media only screen and (max-width: 749px) {
			.intro__lead {
				font-size: 16px;
				line-height: 25px;
				width: 96%;
				margin-top: 17px;
			}
		}

.intro__explore {
    display: flex;
    justify-content: center;
	font: 18px/50px 'Roboto', sans-serif;
}

	@media only screen and (max-width: 749px) {
		.intro__explore {
			flex-direction: column;
			align-items: center;
		}
	}
    
   

.intro__find-experts {
    color: #FFF;
    margin: 0 10px 0 19px;
    padding: 0 33px;
    background: #0196f5;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1);
}

.intro__tell-me-more {
    color: #fff;
    padding: 0 33px;
}

    .intro__tell-me-more:hover {
		box-shadow: none;
	}

    .intro__tell-me-more:before {
        width: 25px;
        height: 25px;
        margin: 0 5px 0 0;
        background: url(../images/info.png) 0 0 no-repeat;
        background-size: 100% auto;
        transform: translateY(1px);
    }

	
	
.how-it-works {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
	padding: 0 15px;
	max-width: 1170px;
}

.how-it-works__heading {
	font: 40px/36px 'Roboto', sans-serif;
	color: #3c434c;
	margin: 100px 0 0;
}

	@media only screen and (max-width: 1279px) {
		.how-it-works__heading {
			font-size: 30px;
			margin: 90px 0 0;
		}
	}
	
		@media only screen and (max-width: 749px) {
			.how-it-works__heading {
				font-size: 22px;
				margin: 85px 0 0;
			}
		}


.how-it-works__lead {
	font: 18px/36px 'Roboto', sans-serif;
	color: #000000;
	text-align: center;
	width: 68%;
	margin: 33px 0 45px;
	
}

	@media only screen and (max-width: 1279px) {
		.how-it-works__lead {
			font-size: 16px;
			width: 75%;
			margin-top: 25px;
		}
	}

		@media only screen and (max-width: 749px) {
			.how-it-works__lead {
				font-size: 14px;
				line-height: 25px;
				width: 85%;
				margin-bottom: 23px;
			}
		}

.how-it-works-details {
  width: 100%;
  overflow: hidden;
}

	@media only screen and (max-width: 1279px) { 
		.how-it-works-details {
			width: 83.3333%;
			margin-bottom: 100px;
		}
	}

		@media only screen and (max-width: 749px) { 
			.how-it-works-details {
				width: 100%;
			}
		}
		
		
.swiper-container {
	width: 100%;
}


.how-it-works-list {
	display: flex;
	padding: 0;
	width: 100%;
	margin: 0;
}

	@media only screen and (max-width: 749px) {
		.how-it-works-list {
			flex-direction: column;
		}
	}

.how-it-works-list__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style: none;
	flex: 1 0 0;
	margin: 0 15px 0 0;
	box-sizing: border-box;
	
}

.how-it-works-list__item:last-child {
	margin-right: 0;
}

	@media only screen and (max-width: 1279px) {
		.how-it-works-list__item {
			flex: 0 0 100%;
			margin: 0;
		}
	}

.image-search {
	position: relative;
    width: 100%;
    overflow: hidden;
	background-color: #ffc400;
}

.image-search:before {
      content: '';
      display: block;
      width: 100%;
      padding: 57.5342% 0 0;
    }

.image-search img {
	position: absolute;
    top: -40%;
}

	@media only screen and (max-width: 1279px) { 
		.image-search {
			width: 61.2%;
		}
	}
	
		@media only screen and (max-width: 749px) { 
			.image-search {
				width: 100%;
			}
		}
	
.image-arrow {
	position: relative;
    width: 100%;
    overflow: hidden;
	background-color: #136fb7;
}

.image-arrow:before {
      content: '';
      display: block;
      width: 100%;
      padding: 57.5342% 0 0;
    }
	
.image-arrow img {
	position: absolute;
    top: -40%;
}

	@media only screen and (max-width: 1279px) { 
		.image-arrow {
			width: 61.2%;
		}
	}

		@media only screen and (max-width: 749px) { 
			.image-arrow {
				width: 100%;
			}
		}
		
.image-mac-book {
	position: relative;
    width: 100%;
    overflow: hidden;
	background-color: #1fbfb4;
}

.image-mac-book:before {
      content: '';
      display: block;
      width: 100%;
      padding: 57.5342% 0 0;
    }
	
.image-mac-book img {
	position: absolute;
    top: -40%;
}

	@media only screen and (max-width: 1279px) { 
		.image-mac-book {
			width: 61.2%;
		}
	}
	
		@media only screen and (max-width: 749px) { 
			.image-mac-book {
				width: 100%;
			}
		}

.how-it-works-list__header {
	font: 21px 'Roboto', sans-serif;
	color: #0196f5;
	text-align: left;
	margin: 50px 0 0;
	width: 100%;
}

.how-it-works-list__text {
	font: 14px/28px 'Roboto', sans-serif;
	font-weight: 500;
	color: #3c3c3c;
	text-align: left;
	margin: 10px 0 115px 0;
	 
}

	@media only screen and (max-width: 1279px) {
		.how_it_works-list_item {
		}
	
		.how-it-works-list__text {
			text-align: center;
		}
	
		.how-it-works-list__header {
			text-align: center;
		}
	}
	
		@media only screen and (max-width: 749px) {
			.how-it-works-list__header {
				font-size: 16px;
				margin-top: 40px;
			}
			
			.how-it-works-list__text {
				font-size: 12px;
				line-height: 20px;
				text-align: justify;
				margin-bottom: 20px;
			}
		}

.how-it-works__swiper-pagination {
	display: flex;
    justify-content: center;
    margin: 25px 0 0;
    padding: 0;
}

	@media only screen and (min-width: 1280px) {
		.how-it-works__swiper-pagination {
			display: none;
		}
	}
	
		@media only screen and (max-width: 749px) {
			.how-it-works__swiper-pagination {
				display: none;
			}
		}

.how-it-works__pagination-item {
      list-style: none;
      width: 13px;
      height: 13px;
      box-sizing: border-box;
      margin: 0 17px 0 0;
      background: #FFF;
      border: 1px #0196f5 solid;
      border-radius: 50%;
      transition: background-color .2s linear;
      cursor: pointer;
    }

    .how-it-works__pagination-item:last-child {
      margin-right: 0;
    }

    .how-it-works__pagination-item--active {
      background: #0196f5;
    }

	
	
	
.indici {
	display: flex;
	justify-content: center;
	background-color: #f3f8fd;
	width: 100%;
}

.indici__inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 1170px;
}

.indici__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #0196f5;
	margin-top: 120px;
}


.indici__icon img {
	width: 30px;
}

	@media only screen and (max-width: 1279px) {
		.indici__icon {
			margin-top: 60px;
		}
	}

		@media only screen and (max-width: 749px) {
			.indici__icon {
				width: 76px;
				height: 76px;
				margin-top: 95px;
			}
		
			.indici__icon img {
				width: 26px;
			}
		}

.indici__text {
	font: 22px/36px 'Ubuntu';
	color: rgb( 138, 152, 162 );
	text-align: center;
	width: 67%;
	margin-bottom: 100px;
}

	@media only screen and (max-width: 1279px) {	
		.indici__text {
			font: 18px/36px 'Ubuntu';
			margin-top: 55px;
			margin-bottom: 50px;
			width: 82%;
		}
	}
	
		@media only screen and (max-width: 749px) {
			.indici__text {
				margin-top: 20px;
			}
		}

		
		
.mentor {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.mentor__heading {
	font: 40px/36px 'Roboto', sans-serif;
	color: #3c434c;
	text-align: center;
	margin: 113px 0 31px 0;
}

	@media only screen and (max-width: 1279px) {
			.mentor__heading {
				font-size: 30px;
				margin: 90px 0 20px 0;
			}
	}
	
		@media only screen and (max-width: 749px) {
			.mentor__heading {
				font-size: 22px;
				font-weight: 500;
				margin-top: 85px;
			}
		}

.mentor__lead {
	font: 18px/36px 'Roboto', sans-serif;
	color: #000000;
	text-align: center;
	max-width: 990px;
	margin: 0;
}

	@media only screen and (max-width: 1279px) {
		.mentor__lead {
			font: 16px/30px 'Roboto', sans-serif;
			width: 80%
		}
	}
	
		@media only screen and (max-width: 749px) {
			.mentor__lead {
				font-size: 14px;
				line-height: 25px;
			}
		}

.qualities-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	max-width: 1170px;
	padding:0;
	margin: 40px 15px 0;
	
}

	@media only screen and (max-width: 749px) {
		.qualities-list {
			flex-direction: column;
			flex-wrap: nowrap;
		}
	}

.qualities-list__item {
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	width: 50%;
	min-height: 367px;
	margin: 0;
	padding: 0px 15px 0 15px;
	border: 1px solid #e7eef3;
}

	@media only screen and (max-width: 1279px) {
		.qualities-list__item {
			height: 300px;
		}
	}

		@media only screen and (max-width: 749px) {
			.qualities-list__item {
				width: 100%;
				height: 100%;
				border-bottom: 0;
				padding: 0;
			}
		}

.qualities-list__item:first-child {
	border-bottom: 0;
	border-right: 0;
}

.qualities-list__item:nth-child(2) {
	border-bottom: 0;
}

.qualities-list__item:nth-child(3) {
	border-right: 0;
}

	@media only screen and (max-width: 749px) {
		.qualities-list__item:first-child {
			border-right: 1px solid #e7eef3;
		}

		.qualities-list__item:nth-child(3) {
			border-right: 1px solid #e7eef3;
		}
		
		.qualities-list__item:last-child {
			border-bottom: 1px solid #e7eef3;
		}
	}

.qualities-list__icon {
	width: 48px;
	margin-top: 56px;
}

	@media only screen and (max-width: 1279px) {
		.qualities-list__icon {
			margin-top: 56px;
		}
	}
	
		@media only screen and (max-width: 749px) {
			.qualities-list__icon {
				margin-top: 20px;
			}
		}

.qualities-list__header {
	font: 20px/36px 'Roboto', sans-serif;
	color: #3c434d;
	text-align: center;
	margin: 5px 0 0 0;
}

	@media only screen and (max-width: 1279px) {
		.qualities-list__header {
			font-size: 18px;
			margin: 25px 0 0 0;
		}
	}

.qualities-list__text {
	font: 18px/30px 'Roboto', sans-serif;
	color: #80909c;
	text-align: center;
	letter-spacing: 0.5px;
}

	@media only screen and (max-width: 1279px) {
		.qualities-list__text {
			font: 14px/25px 'Roboto', sans-serif;
		}
	}
	

	
.indici-app {
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: #f3f8fd;
}

.indici-app__inner {
	display: flex;
	align-items: center;
	max-width: 1170px;
	padding: 70px 15px 115px;
	box-sizing: border-box;
	position: relative;
}

	@media only screen and (max-width: 1279px) {
		.indici-app__inner {
			padding-left: 48px;
		}
	}
	
		@media only screen and (max-width: 749px) {
			.indici-app__inner {
				flex-direction: column;
				padding-left: 15px;
			}
		}

.indici-app-info {
	display: flex;
	flex-direction: column;
	align-items: left;
	width: 45%;
}

	@media only screen and (max-width: 1279px) {
		.indici-app-info {
			width: 50%;
		}
	}
	
		@media only screen and (max-width: 749px) {
			.indici-app-info {
				width: 100%;
				align-items: center;
			}
		}

.indici-app-info__header {
	font: bold 40px 'Roboto', sans-serif;
	color: #3c434d;
	text-align: left;
}

	@media only screen and (max-width: 1279px) {
		.indici-app-info__header {
			font-size: 30px;
		}
	}
	
		@media only screen and (max-width: 749px) {
			.indici-app-info__header {
				font-size: 22px;
				font-weight: 500;
				text-align: center;
			}
		}

.indici-app-info__description {
	font: 18px/36px 'Roboto', sans-serif;
	color: #80909c;
	text-align: left;
}

	@media only screen and (max-width: 1279px) {
		.indici-app-info__description {
			font: 16px/25px 'Roboto', sans-serif;
		}
	}
	
		@media only screen and (max-width: 749px) {
			.indici-app-info__description {
				text-align: center;
			}
		}

.indici-app-info__links {
	display: flex;
    justify-content: center;
	font: 15px/30px 'Roboto', sans-serif;
	
}

	@media only screen and (max-width: 1279px) {
		.indici-app-info__links {
			font-size: 11px;
			line-height: 20px;
		}
	}

.indici-app-download-button {
	color: #FFF;
    margin: 25px 30px 0 0px;
    padding: 5px 20px;
    background: #3c434c;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1);
	box-sizing: border-box;
	width: 220px;
	height: 80px;
	cursor: pointer;
}

	@media only screen and (max-width: 1279px) {
		.indici-app-download-button {
			width: 140px;
			height: 51px;
			margin-right: 43px;
		}
	}
	
		@media only screen and (max-width: 749px) {
			.indici-app-download-button {
				margin: 0 3px 0;
			}
		}

.indici-app-download-button__text {
	position: absolute;
	top: -5px;
	left: 71px;
}

	@media only screen and (max-width: 1279px) {
		.indici-app-download-button__text {
			top: -3px;
			left: 48px;
		}
	}

.apple-button {
	position: relative;
}

.google-button {
	position: relative;
}

.apple-button:before {
	width: 30px;
	height: 30px;
	margin: 0 20px 0 0;
	background: url(../images/Apple_logo.svg) 0 0 no-repeat;
	background-size: 100% auto;
}

	@media only screen and (max-width: 1279px) {
		.apple-button:before {
			width: 22px;
			height: 22px;
			position: absolute;
			left: 14px;
		}
	}

.apple-button:after {
	content: 'Apple Store';
	position: absolute;
	top: 38px;
	left: 71px;
	font: 20px/30px 'Roboto', sans-serif;
}

	@media only screen and (max-width: 1279px) {
		.apple-button:after {
			top: 25px;
			left: 48px;
			font: 15px/20px 'Roboto', sans-serif;
		}
	}

.google-button:before {
	width: 30px;
	height: 30px;
	margin: 0 20px 0 0;
	background: url(../images/google-play.svg) 0 0 no-repeat;
	background-size: 100% auto;
}

	@media only screen and (max-width: 1279px) {
		.google-button:before {
			width: 22px;
			height: 22px;
			position: absolute;
			left: 14px;
		}
	}

.google-button:after {
	content: 'Google Play';
	position: absolute;
	top: 38px;
	left: 71px;
	font: 20px/30px 'Roboto', sans-serif;
}

	@media only screen and (max-width: 1279px) {
		.google-button:after {
			top: 25px;
			left: 48px;
			font: 15px/20px 'Roboto', sans-serif;
		}
	}

.indici-app__illustration-container	{
	width: 100%;
}
	
.indici-app__illustration {
	background: url(../images/map-indici.svg) 100% 50% no-repeat;
    background-size: 100% auto;
}

	@media only screen and (min-width: 750px)  { 
		.indici-app__illustration {
			position: absolute;
			top: 7px;
			right: -8.8888%;
			width: 67.6%;
			height: 100%;
		}
	}

		@media only screen and (max-width: 1279px) { 
			.indici-app__illustration {
				top: -26px;
				right: -25%;
				width: 83.2%;
			}
		}
  
			@media only screen and (max-width: 749px) {
				.indici-app__illustration {
					width: 100%;
					padding-bottom: 50%;
					margin-bottom: 25px;
				}
			}
	
	

.mission {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1170px;
	margin-top: 115px;
	margin-bottom: 118px;
}

	@media only screen and (max-width: 1279px) {
		.mission {
			margin-top: 90px;
			margin-bottom: 80px;
		}
	}
	
		@media only screen and (max-width: 749px) {
			.mission {
				margin-top: 90px;
				margin-bottom: 80px;
			}
		}

.mission__heading {
	font: 40px/30px 'Roboto', sans-serif;
	color: #3c434c;
	text-align: center;
	margin: 0 0 35px 0;
	padding: 0;
}

	@media only screen and (max-width: 1279px) {
		.mission__heading {
			font-size: 30px;
			line-height: 25px;
		}
	}
	
		@media only screen and (max-width: 749px) {
			.mission__heading {
				font-size: 22px;
				font-weight: 500;
				margin-bottom: 30px;
			}
		}

.mission__lead {
	font: 18px/36px 'Roboto', sans-serif;
	color: #000000;
	text-align: center;
	margin: 0;
	width: 70%;
}

	@media only screen and (max-width: 1279px) {
		.mission__lead {
			font-size: 16px;
			line-height: 25px;
			width: 80%
		}
	}

		@media only screen and (max-width: 749px) {
			.mission__lead {
				width: 90%
			}
		}	
	
.submission {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	max-width: 1170px;
	width: 100%;
	align-items: center;
	position: relative;
	box-sizing: border-box;
	padding: 0 15px;
}

	@media only screen and (max-width: 1279px) {
		.submission {
			margin-top: 40px;
		}
	}

.submission__image {
	content: '';
	background: url(../images/lupa.svg) 44% 42% no-repeat;
	background-size: 121% auto;
	width: 100%;
	max-width: 555px;
	height: 266px;
	position: absolute;
	left: 15px;
}

	@media only screen and (max-width: 1279px) {
		.submission__image {
			position: relative;
			order: 2;
		}
	}

.submission__text {
	padding-left: 57%;
}

.submission__text p {
	font: 18px/30px 'Roboto', sans-serif;
	color: #3c3c3c;
	text-align: justify;
	margin: 0;
	margin-bottom: 30px;
}

	@media only screen and (max-width: 1279px) {
		.submission__text {
			padding: 0;
			width: 72%;
		}
		
		.submission__text:last-child {
			margin-top: 25px;
		}
		
		.submission__text p {
			font-size: 16px;
			line-height: 25px;
			text-align: center;
		}
		
		.first-paragraph {
			order: 1;
		}
				
		.second-paragraph {
			order: 3;
		}
	}
	
		@media only screen and (max-width: 749px) {
			.submission__text {
				width: 100%;
			}
			
			.submission__text p {
				font-size: 15px;
			}
		}

		
		
.subscribe {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f3f8fd;
	width: 100%;
}

.subscribe__inner {
	max-width: 1170px;
}

.subscribe__heading {
	font: 500 21px/36px 'Roboto', sans-serif;
	color: #000000;
	text-align: center;
	margin: 44px 0 30px 0;
	padding: 0;
}

	@media only screen and (max-width: 1279px) {
		.subscribe__heading {
			font-size: 20px;
		}
	}
	
		@media only screen and (max-width: 749px) {
			.subscribe__heading {
				font-size: 18px;
			}
		}

.subscribe-form {
	display: flex;
	align-items: center;
	margin-bottom: 54px;
}

	@media only screen and (max-width: 749px) {
		.subscribe-form {
			flex-direction: column;
			margin-bottom: 80px;
		}
	}

.subscribe-form__email {
      display: block;
      font: 14px 'Roboto', sans-serif;
      color: #fff;
      padding: 8px 0 8px 15px;
      background: #737d83;
      border: 0;
	  border-radius: 4px;
	  width: 420px;
}


	@media only screen and (max-width: 1279px) {
		.subscribe-form__email {
			width: 308px;
		}
	}

		@media only screen and (max-width: 749px) {
			.subscribe-form__email {
				text-align: center;
				width: 90%;
			}
		}
		
.subscribe-form__email::-ms-input-placeholder {
	opacity: 1;
}

.subscribe-form__email::-webkit-input-placeholder {
	opacity: 1;
	color: #fff;
	
}

.subscribe-form__email::-moz-placeholder {
	opacity: 1;
}


.subscribe-form__submit {
      font: 14px/22.26px 'Roboto', sans-serif;
      color: #fff;
      padding: 6px 31px 8px;
      background: #0196f5;
      border-radius: 3px;
      cursor: pointer;
	  margin-left: -3px;
}

	@media only screen and (max-width: 749px) {
		.subscribe-form__submit {
			margin-top: 13px;
		}
	}

	
	
.best-of-experts {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1170px;
}

.best-of-experts__heading {
	font: 40px/36px 'Roboto', sans-serif;
	color: #3c434c;
	text-align: center;
	margin: 110px 0 0;
}

	@media only screen and (max-width: 1279px) {
		.best-of-experts__heading {
			font-size: 30px;
			margin-top: 90px;
		}
	}
	
		@media only screen and (max-width: 749px) {
			.best-of-experts__heading {
				font-size: 22px;
				font-weight: 500;
				margin-top: 85px;
			}
		}

.best-of-experts__lead {
	font: 18px/36px 'Roboto', sans-serif;
	color: #000;
	text-align: center;
	margin: 20px 0 30px;
}

	@media only screen and (max-width: 1279px) {
		.best-of-experts__lead {
			font-size: 16px;
			line-height: 25px;
			width: 55%;
		}
	}

		@media only screen and (max-width: 749px) {
			.best-of-experts__lead {
				font-size: 16px;
				line-height: 25px;
				width: 80%;
			}
		}
	
.experts-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	padding: 0;
	margin: 30px 0 65px;
}

	@media only screen and (max-width: 749px) {
		.experts-list {
			padding: 0 15px;
			margin-bottom: 40px;
		}
	}

.experts-list__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 65px;
	margin-right: 65px;
	margin-bottom: 55px;
}

.experts-list__item:first-child {
	margin-left: 0;
}

.experts-list__item:last-child {
	margin-right: 0;
}

	@media only screen and (max-width: 1279px) {
		.experts-list__item {
			flex: 0 0 33.3333%;
			margin-right: 0;
			margin-left: 0;
		}
	}

	@media only screen and (max-width: 749px) {
		.experts-list__item:nth-child(odd) {
			padding-right: 44px;
		}
		
		.experts-list__item:last-child {
			padding-right: 0;
		}
	}

.expert-photo {
}

.expert-photo__img {
	max-width: 100%;
}

	@media only screen and (max-width: 749px) {
			.expert-photo {
				min-width: 115px;
			}
	}

.expert-name {
	font: bold 20px/36px 'Roboto', sans-serif;
	color: #3c434d;
	text-align: center;
	margin: 15px 0 0;
}

	@media only screen and (max-width: 1279px) {
		.expert-name {
			font-size: 16px;
			line-height: 30px;
		}
	}
	
		@media only screen and (max-width: 749px) {
			.expert-name {
				font-size: 13px;
				line-height: 24.38px;
			}
		}

.expert-profession {
	font: 18px/30px 'Roboto', sans-serif;
	color: #80909c;
	text-align: center;
	margin: 0;
}

	@media only screen and (max-width: 1279px) {
		.expert-profession {
			font-size: 14px;
			line-height: 25px;
		}
	}

		@media only screen and (max-width: 749px) {
			.expert-profession {
				font-size: 12px;
				line-height: 20.32px;
			}
		}
	
	
	
.indici-evolution {
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: #f3f8fd;
}

.indici-evolution__inner {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	max-width: 1170px;
	padding: 80px 15px 70px;
	box-sizing: border-box;
	position: relative;
	font: 18px/50px 'Roboto', sans-serif;
}

	@media only screen and (max-width: 1279px) {
		.indici-evolution__inner {
			padding-bottom: 100px;
		}
	}
	
		@media only screen and (max-width: 749px) {
			.indici-evolution__inner {
				height: 100%;
				align-items: center;
			}
		}

.indici-evolution-info {
	display: flex;
	flex-direction: column;
	align-items: left;
	width: 52%;
}

		@media only screen and (max-width: 749px) {
			.indici-evolution-info {
				width: 100%
			}
		}

.indici-evolution-info__text {
	margin-bottom: 20px;
}

	@media only screen and (max-width: 1279px) {
		.indici-evolution-info__text {
			margin-bottom: 37px;
		}
	}
	
		@media only screen and (max-width: 749px) {
			.indici-evolution-info__text {
				margin-bottom: 0;
			}
		}

.indici-evolution-info__heading {
	font: bold 40px 'Roboto', sans-serif;
	color: #3c434d;
	text-align: left;
}

	@media only screen and (max-width: 1279px) {
		.indici-evolution-info__heading {
			font-size: 30px;
			margin-top: 7px;
		}
	}
	
		@media only screen and (max-width: 749px) {
			.indici-evolution-info__heading {
				font-size: 22px;
				font-weight: 500;
				text-align: center;
			}
		}

.indici-evolution-info__description {
	font: bold 24px/36px 'Roboto', sans-serif;
	color: #80909c;
	text-align: left;
}

	@media only screen and (max-width: 1279px) {
		.indici-evolution-info__description {
			font-size: 16px;
			line-height: 25px;
			font-weight: normal;
		}
	}
	
		@media only screen and (max-width: 749px) {
			.indici-evolution-info__description {
				text-align: center;
				margin-top: 35px;
			}
		}
	
.indici-evolution__find-experts {
	color: #FFF;
	margin: 0 10px 0 0px;
    padding: 0 33px;
	background: #0196f5;
	border-radius: 5px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1);
}

	@media only screen and (max-width: 749px) {
		.indici-evolution__find-experts {
			margin-top: 30px;
		}
	}

.indici-evolution__illustration-container {
	width: 100%;
}
	
.indici-evolution__illustration {
	width: 48%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}

	@media only screen and (max-width: 749px) {
		.indici-evolution__illustration {
			width: 100%;
			position: static;
		}
	}

	
	
.reviews {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 1170px;
	font: 18px/50px 'Roboto', sans-serif;
	margin-bottom: 120px;
}

	@media only screen and (max-width: 1279px) {
		.reviews {
			margin-bottom: 100px;
		}
	}

.reviews__heading {
	font: 40px/36px 'Roboto', sans-serif;
	color: #3c434c;
	text-align: center;
	margin-top: 100px;
}

	@media only screen and (max-width: 1279px) {
		.reviews__heading {
			font-size: 30px;
			margin-top: 90px;
			margin-bottom: 15px;
		}
	}
	
		@media only screen and (max-width: 749px) {
			.reviews__heading {
				font-size: 22px;
				font-weight: 500;
				margin-top: 85px;
				margin-bottom: 25px;
			}
		}

.reviews__lead {
	font: 18px/36px 'Roboto', sans-serif;
	color: #000000;
	text-align: center;
	margin-top:0;
}

	@media only screen and (max-width: 1279px) {
		.reviews__lead {
			font-size: 16px;
			margin-bottom: 5px;
		}
	}
	
		@media only screen and (max-width: 749px) {
			.reviews__lead {
				line-height: 25px;
				width: 89%;
			}
		}

@media only screen and (max-width: 1279px) {
	.reviews-list-container {
		width: 83.3333%;
		overflow: hidden;
	}
}

	@media only screen and (max-width: 749px) {
		.reviews-list-container {
			width: 100%;
		}
	}
		
.reviews-list {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 35px 0 45px;
}

	@media only screen and (max-width: 1279px) {
		.reviews-list {
			margin-bottom: 0;
		}
	}

.reviews-list__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	padding: 0 15px;
}


	@media only screen and (max-width: 1279px) {
		.reviews-list__item {
			flex: 0 0 100%;
		}
	}
	


.reviewer-photo {
	height: 100px;
}

.reviewer-name {
	font: bold 20px/30px 'Roboto', sans-serif;
	color: #484d53;
	text-align: center;
	margin-bottom: 0;
}

	@media only screen and (max-width: 1279px) {
		.reviewer-name {
			margin-top: 27px;
		}
	}

.reviewer-text {
	font: 18px/30px 'Roboto', sans-serif;
	color: #80909c;
	text-align: center;
}

	@media only screen and (max-width: 1279px) {
		.reviewer-text p {
			margin-top: 5px;
			margin-bottom: 0px;
		}
	}

.reviewer-rating {
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	padding: 0;
}

.reviewer-rating__item {
	margin: 0 6px 0;
}

.reviewer-rating__star {
	width: 13px;
	height: 13px;
}

.reviews__find-experts {
	color: #FFF;
	margin: 0 10px 0 0px;
    padding: 0 33px;
	background: #0196f5;
	border-radius: 5px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1);
}

	@media only screen and (max-width: 1279px) {
		.reviews__find-experts {
			padding: 0 29px;
		}
	}

.reviews__pagination {
	display: flex;
    justify-content: center;
    margin: 47px 0 55px;
    padding: 0;
}

	@media only screen and (min-width: 1279px) {
		.reviews__pagination {
			display: none;
	    }
	}
	
.reviews__pagination-item {
      list-style: none;
      width: 13px;
      height: 13px;
      box-sizing: border-box;
      margin: 0 17px 0 0;
      background: #FFF;
      border: 1px #0196f5 solid;
      border-radius: 50%;
      transition: background-color .2s linear;
      cursor: pointer;
    }

    .reviews__pagination-item:last-child {
      margin-right: 0;
    }

    .reviews__pagination-item--active {
      background: #0196f5;
    }

	

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background-color: #737d83;
}

.footer__inner {
	display: flex;
	max-width: 1170px;
	width: 100%;
	padding: 15px 15px 30px;
	box-sizing: border-box;
	justify-content: space-between;
}

	@media only screen and (max-width: 1279px) {
		.footer__inner {
			flex-direction: column;
			padding: 8px 0 17px;
		}
	}
	
		@media only screen and (max-width: 749px) {
			.footer__inner {
				padding-bottom: 21px;
			}
		}

@media only screen and (max-width: 749px) {
		.footer__indici-logo-320 {
			width: 137px;
			height: 53px;
			background: url(../images/logo-gray.png) 0 0 no-repeat;
			background-size: contain;
			margin-top: 10px;
			align-self: center;
		}
	}
	
		@media only screen and (min-width: 750px) {
			.footer__indici-logo-320 {
				display: none;
			}
		}
		
.footer__menu-container {
	display: flex;
	width: 66.666%;
}


	@media only screen and (max-width: 1279px) {
		.footer__menu-container {
			width: auto;
			padding-left: 15px;
			padding-right: 15px;
			border-bottom: 1px #6b747a solid;
		}
	}
	
.footer-subscribe-logo-container {
	width: 33.333%;
}

	@media only screen and (max-width: 1279px) {
		.footer-subscribe-logo-container {
			width: auto;
			padding: 0 15px 0;
		}
	}
	
		@media only screen and (max-width: 749px) {
			.footer-subscribe-logo-container {
				padding: 0 31px 0;
			}
		}

.footer-menu {
	display: flex;
	align-items: flex-start;
	list-style: none;
	padding: 0;
	justify-content: space-between;
	width: 100%;
}

	@media only screen and (max-width: 1279px) {
		.footer-menu {
			margin-bottom: 12px;
		}
	}
	
		@media only screen and (max-width: 749px) {
			.footer-menu {
				flex-wrap: wrap;
				margin-bottom: 25px;
				margin-top: 0;
			}
		}

.footer-menu__section {
	width: 25%;
}

	@media only screen and (max-width: 1279px) {
		.footer-menu__section {
			width: auto;
		}
	}
	
		@media only screen and (max-width: 749px) {
			.footer-menu__section {
				width: 39%;
			}
			
			.footer-menu__section:nth-child(odd) {
				width: 61%;
			}
		}
	
.footer-menu__heading {
	font: 18px 'Roboto', sans-serif;
	color: #c7cacc;
	text-align: left;
}

	@media only screen and (max-width: 749px) {				
		.footer-subscribe__heading {
			text-align: center;
		}
	}

.footer-submenu {
	list-style: none;
	padding: 0;
}

	@media only screen and (max-width: 1279px) {
		.footer-submenu {
			padding-top: 2px;
		}
	}

.footer-submenu__left {
	list-style: none;
	padding: 0;
}

.footer-submenu__right {
	list-style: none;
	padding: 0;
}

	@media only screen and (max-width: 1279px) {
		.footer-submenu__right {
			display: flex;
			justify-content: space-between;
		}
	}

.footer-submenu__link {
	font: 14px/24px 'Roboto', sans-serif;
	color: #ffffff;
	text-align: left;
}

	@media only screen and (max-width: 1279px) {
		.footer-submenu__item-logo {
			order: 2;
		}
		
		.footer-submenu__item-yandex {
			order: 1;
		}
		
		.footer-submenu__link {
			line-height: 26px;
		}
	}
	
		@media only screen and (max-width: 749px) {
			.footer-submenu__left {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			
			.footer-submenu__link {
				line-height: 24px;
			}
			
			.footer-submenu__item-logo {
				display: none;
			}
			
			.footer-submenu__item-yandex {
				display: flex;
				width: 100%;
				justify-content: center;
				align-items: center;
			}
		}
.footer-subscribe-email {
	font: 300 12px/26px 'Roboto', sans-serif;
    color: #fff;
    margin: 0 0 21px;
    padding: 4px 14px 4px 0;
    background: none;
    border: 0;
    border-bottom: 1px #c1c5c7 solid;
}

	.footer-subscribe-email::-ms-input-placeholder {
		opacity: 1;
	}

	.footer-subscribe-email::-webkit-input-placeholder {
		opacity: 1;
		color: #fff;
	}

	.footer-subscribe-email::-moz-placeholder {
		opacity: 1;
	}
	
		@media only screen and (max-width: 1279px) {
			.footer-subscribe-email {
				margin-bottom: 19px;
			}
		}
		
			@media only screen and (max-width: 749px) {
				.footer-subscribe-email {
					margin-bottom: 9px;
					text-align: center;
					padding: 4px 7px 4px 7px;
				}
			}

.footer-subscribe-submit {
	background-color: #c1c5c7;
	font: 500 14px/22.26px 'Roboto', sans-serif;
	color: #737d82;
	padding: 8px 32px 6px;
	margin-left: 0px;
}

.footer-menu__indici-logo {
	width: 137px;
	height: 53px;
	background: url(../images/logo-gray.png) 0 0 no-repeat;
	background-size: contain;
	margin-top: 20px;
}

	@media only screen and (max-width: 1279px) {
		.footer-menu__indici-logo {
			margin-top: 5px;
		}
	}

.footer-submenu__text {
	font: 12px/26px 'Roboto', sans-serif;
	color: #aaafb2;
}

	@media only screen and (max-width: 749px) {
		.footer-submenu__text {
			line-height: 18px;
			margin-right: 13px;
		}
	}

.footer-menu__yandex-logo {
	width: 100px;
	height: 42px;
	background: url(../images/yandex_dengi_gray.png) -5px 0 no-repeat;
	background-size: contain;
}

	@media only screen and (max-width: 749px) {
		.footer-menu__yandex-logo {
			margin-left: 13px;
		}
	}

.footer-subscribe-logo-container__list {
	display: flex;
	list-style: none;
	padding: 0;
	justify-content: space-between;
	width: 100%;
}

	@media only screen and (max-width: 1279px) {
		.footer-subscribe-logo-container__list {
			margin: 0;
		}
		
		.footer-subscribe-logo-container__item-left {
			flex: 1 1 40%;
		}
		
		.footer-subscribe-logo-container__item-right {
			flex: 1 1 60%;
		}
	}
	
		@media only screen and (max-width: 749px) {
			.footer-subscribe-logo-container__list {
				flex-direction: column;
			}
			
			.footer-subscribe-logo-container__item-left {
				order: 2;
			}
		}

.footer__bottom {
	width: 100%;
	background-color: #677176;
	display: flex;
	justify-content: center;
}

.footer-bottom__inner {
	display: flex;
	align-items: center;
	max-width: 1170px;
	padding: 5px 15px;
    width: 100%;
    box-sizing: border-box;
	justify-content: space-between;
}

	@media only screen and (max-width: 1279px) {
		.footer-bottom__inner {
			padding: 0 15px;
		}
	}
	
		@media only screen and (max-width: 749px) {
			.footer-bottom__inner {
				flex-direction: column;
			}
		}


.footer-bottom__menu {
	display: flex;
	align-items: center;
}

	@media only screen and (max-width: 749px) {
			.footer-bottom__menu {
				flex-direction: column;
				margin-top: 15px;
			}
		}

.footer-bottom__links {
	display: flex;
	align-items: center;
}

.footer-bottom__link {
	font: 12px/26px 'Roboto', sans-serif;
	color: #ffffff;
	text-align: center;
}

	.footer-bottom__link:first-child {
		margin-right: 40px;
	}


		@media only screen and (max-width: 1279px) {
			.footer-bottom__link {
				margin-right: 18px;
			}
		
			.footer-bottom__link:first-child {
				margin-right: 18px;
			}
		}
	
			@media only screen and (max-width: 749px) {
				.footer-bottom__link {
					margin-right: 0;
				}
			}

.footer-bottom__social-networks {
	display: flex;
	list-style: none;
	font: 12px/26px 'Roboto', sans-serif;
	color: #ffffff;
	align-items: center;
	padding: 0;
	margin-left: 25px;
}

	@media only screen and (max-width: 1279px) {
		.footer-bottom__social-networks {
			margin-left: 0;
		}
	}
	
		@media only screen and (max-width: 749px) {
			.footer-bottom__social-networks {
				flex-direction: column;
				margin-bottom: 0;
			}
		}
	
.social-networks-links {
	display: flex;
	align-items: center;
}

	@media only screen and (max-width: 749px) {
			.social-networks-links {
				margin-top: 7px;
			}
		}

.social-networks__facebook-link {
	display: block;
	width: 10px;
	height: 18px;
    background: url(../images/facebook.png) no-repeat;
    background-size: 100%;
	margin-left: 17px;
}

	@media only screen and (max-width: 749px) {
		.social-networks__facebook-link {
			margin-left: 0;
		}
	}

.social-networks__vkontakte-link {
	display: block;
	width: 22px;
	height: 13px;
    background: url(../images/vkontakte.png) no-repeat;
    background-size: 100%;
	margin-left: 17px;
}

.social-networks__twitter-link {
	display: block;
	width: 18px;
	height: 14px;
    background: url(../images/twitter.png) no-repeat;
    background-size: 100%;
	margin-left: 17px;
}

.footer-bottom__copyright-text {
	font: 12px/26px 'Roboto', sans-serif;
	color: #aaafb2;
}